.wchar {
  width: 22px;
  height: 22px;
  margin: 1px;
  color: white;
}

.correct {
  background-color: #009541;
}

.misplaced {
  background-color: #c5b026;
}

.incorrect {
  background-color: rgba(0,0,0, 0.5);
}