.wordle {
    margin-bottom: 40px;
}

.header {
    font-size: 16px;
}

.attempted {
    color: #DDDDDD;
}

.completed {
    color: #00913f;
}

.headercontainer {
    display: flex;
    flex-direction: row;
}

i {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
}
.collapsed {
  height: 0px;
}
